




{% extends "partials/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<section class="admin-section">
    <div class="container">

        <div class="admin-header">
            <h1>Blog Actualités Gestion</h1>
            <a href="{{ url_for('blog_admin.blog_new') }}" class="btn">
                + Ajouter Nouveau Post
            </a>
        </div>

        
        <div class="admin-footer">
            <a href="{{ url_for('actualite_admin.actualite_dashboard') }}" class="btn">
                Retour Gestion Actualité
            </a>
        </div>


        {% if posts %}
        <table class="admin-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Creé le</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>

                    <td>
                        {% if post.image %}
                            <img src="{{ url_for('static', filename='uploads/blog/' ~ post.image) }}"
                                 class="admin-thumb">
                        {% else %}
                            No image
                        {% endif %}
                    </td>

                    <td>{{ post.title[:20] }}</td>
                    <!-- striptags(<p><strong> etc..) and truncate(corte limpio) == texto plano -->
                    <td>{{ post.content | striptags | truncate(40) }}...</td>

                    <td>{{ post.created_at.strftime('%d/%m/%Y') if post.created_at else '-' }}</td>

                    <td class="actions">

                        <a href="{{ url_for('blog_admin.blog_edit', post_id=post.id) }}"
                           class="btn">
                            Modifier
                        </a>

                        <form action="{{ url_for('blog_admin.blog_delete', post_id=post.id) }}"
                              method="POST"
                              style="display:inline;"
                              onsubmit="return confirm('Supprimer ce Post?');">

                            <button class="btn">
                                Supprimer
                            </button>
                        </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>Pas encore de posts.</p>
        {% endif %}

        <div class="admin-footer">
            <a href="{{ url_for('actualite_admin.actualite_dashboard') }}" class="btn">
                Retour Gestion Actualité
            </a>
        </div>

    </div>
</section>
{% endblock %}
