


{% extends "partials/base.html" %}

{% block content %}


<section class="documents">
    <div class="container">

        <h1 class="flex-center">Deliberations</h1>

        {% for doc in deliberations %}
        <div class="card card-list">

            <h3>{{ doc.title }}</h3>

            <div class="boton">
                <a href="{{ url_for('static', filename='uploads/documents/' ~ doc.file) }}"
                    class="btn"
                    target="_blank">                  
                    Voir
                </a>

                <a href="{{ url_for('static', filename='uploads/documents/' ~ doc.file) }}"
                class="btn"
                download>
                Télécharger
                </a>
            </div>

        </div>
        {% endfor %}

    </div>
</section>

{% endblock %}