



{% extends "partials/base.html" %}

{% block title %}SIVM partner{% endblock %}

{% block content %}

<!-- <section class="hero-section text-center">
    <div class="container">
        <h1>Nos partenaires</h1>
    </div>
</section> -->


<section class="description">
    <div class="container">

         <div class="flex-center">
            <h1>NOS PARTENAIRES</h1>
        </div>

        <p> 
            L’ACI du Fenouillèdes existe grâce au conventionnement de la DDETS (Direction Départementale de l’Emploi, du Travail et des Solidarités). Il est cofinancé par l’État et le Département, et l’Europe (à travers le FSE+ (Fond Social Européen))
            
            Ce soutien financier permet l’embauche en Contrat à Durée Déterminée d’Insertion de 4 à 24 mois des personnes en difficulté et éloignées de l’emploi. Notre territoire est classé en ZRR (Zone ruralités revitalisation). Malgré le manque de moyen et surtout de mobilité, nous essayons d’y amener un dynamisme et une entraide, avec la collaboration des entreprises locales qui permettent aux salariés de faire des PMSMP (période de mise en situation en milieu professionnel) selon leur projet professionnel.
            
            L’ASP travaille aussi avec les différents travailleurs sociaux comme France Travail, la CAF, Le Département, la MSA, la CPAM,  ….
        </p>
    </div>
</section>


<section class="description">
    <div class="container">

        <div class="flex-center">
            <h2>NOTRE ADMINISTRATION</h2>
        </div>

        <p>           
	        Le Président tient informé tout au long de son mandat les communes adhérentes par une lettre info au-delà des conseils syndicaux pendant lesquelles sont prises les décisions par délibération.
            
            Il peut aussi prendre des arrêtés dans le cadre de ses compétences.
            
            Le prochain Conseil syndical se tiendra à la salle de réunion du SIVM du Fenouillèdes le 
    </div>

    <div class="flex-center">
        <p>ICI UN INPUT =>  DATE: _______ </p>
    </div>

</section>



<section class="cards-section">
    <div class="container">

        <div class="flex-center">
            <h2>INFO:</h2>
        </div>

        <div class="cards-container">

            <div class="container">
                <div class="card">
                    <h3>Lettre Info</h3>
                    <p>ici le lien au lettres, ou le fichier a telecharger</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>Délibérations</h3>
                    <p>deliberations pdf</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>Arrêtés</h3>
                    <p>ici</p>
                </div>
            </div>

            

        </div>
    </div>
</section>

{% endblock %}