

{% extends 'partials/base.html' %}


{% block extra_css %}
{% endblock %}


{% block content %}

<section class="admin-dashboard text-center flex-column">

    <h1>Gestion Actualité</h1>

    <section>
        <h2>📅 Date prochain Conseil syndical</h2>
        <h3>
            {% if setting.next_meeting_date %}
                {{ setting.next_meeting_date.strftime('%d/%m/%Y') }}
            {% else %}
                Date à définir
            {% endif %}
        </h3>
        <a class="btn" href="{{ url_for('actualite_admin.edit_setting_date') }}">Modifier date</a>
    </section>

    

    <section>
        <h2>📄 Documents officiels</h2>
        {% for card in cards %}
            <div>
                <strong>{{ card.title }}</strong>
                <p>{{ card.description }}</p>
            </div>
        {% endfor %}
        <a href="{{ url_for('documents_admin.documents_list') }}" class="btn">Gestion documents</a>

    </section>



    <section>
        <h2>📰 Actualité</h2>
        <a href="{{ url_for('blog_admin.blog_list') }}" class="btn">Gerer posts</a>
    </section>

</section>

{% endblock %}