

{% extends 'partials/base.html' %}


{% block extra_css %}
{% endblock %}


{% block content %}

<section class="admin-dashboard text-center flex-column">
<h2>Gestion Actualité</h2>

<section>
    <h3>📅 Date prochain Conseil syndical</h3>
    <p>
        {% if setting.next_meeting_date %}
            {{ setting.next_meeting_date.strftime('%d/%m/%Y') }}
        {% else %}
            Date à définir
        {% endif %}
    </p>
    <a class="btn" href="{{ url_for('actualite_admin.edit_setting_date') }}">Modifier date</a>
</section>

<hr>

<section>
    <h3>📄 Documents oficials</h3>
    {% for card in cards %}
        <div>
            <strong>{{ card.title }}</strong>
            <p>{{ card.description }}</p>
            <a href="{{ url_for('admin.edit_card', id=card.id) }}">Modifier</a>
        </div>
    {% endfor %}
</section>

<hr>

<section>
    <h3>📰 Actualité</h3>
    {# <a href="{{ url_for('admin.create_post') }}">Créer nouveau post</a> #}

    {% for post in posts %}
        <div>
            <strong>{{ post.title }}</strong>
            {# <a href="{{ url_for('admin.edit_post', id=post.id) }}">Modifier</a>
            <a href="{{ url_for('admin.delete_post', id=post.id) }}">Eliminer</a> #}
        </div>
    {% endfor %}
</section>

</section>

{% endblock %}