


{% extends "partials/base.html" %}


{% block extra_css %}


{% endblock %}



{% block content %}

<section class="container blog-form-page">
    <div class="blog-form-card text-center flex-column">
        <h2>Change Password</h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label>Current Password</label>
                {{ form.old_password(class="form-control") }}
            </div>

            <div class="form-group">
                <label>New Password</label>
                {{ form.new_password(class="form-control") }}
            </div>

            <div class="form-group">
                <label>Confirm New Password</label>
                {{ form.confirm_password(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-warning") }}
                <a href="{{ url_for('user.profile') }}" class="btn">Cancel</a>
            </div>

        </form>

    </div>
</section>

{% endblock %}
