



<footer id="footer">
    <div class="container">
        <div class="container_left">
            <h3>
                SIVM du Fenouillèdes
            </h3>

            <br>

            <address>
                50 avenue du Général de Gaulle<br>
                66220 Saint Paul de Fenouillet<br>
                <br>
                04 68 59 09 08<br>
                <a href="mailto:sivom.fenouilledes@wanadoo.fr">sivom.fenouilledes@wanadoo.fr</a>
            </address>
        </div>

        <div class="container_right">
            <nav>
                <a href="{{ url_for('home.home') }}">Accueil</a>
                <a href="{{ url_for('sivm.sivm') }}">Sivm</a>
                <a href="{{ url_for('aci.aci') }}">ACI</a>
                <a href="{{ url_for('partner.partner') }}">Partenaires</a>
                <a href="{{ url_for('blog.blog') }}">Actualité</a>
                <a href="{{ url_for('contact.contact') }}">Contact</a>
            </nav>
        </div>

    </div>

    <small>
        Copyright C 2026 - 
        <a href="mailto:manelocana.dev@gmail.com">manelocana.dev@gmail.com</a>
    </small>

</footer>

