



<header>
    <div class="container-header">
        <div class="header-logo">
            <a href="{{ url_for('home.home') }}">
                <img src="{{ url_for('static', filename='img/logos/sivm.png')}}"
                    alt="logo sivom">
            </a>
        </div>
        

        <nav>
            <a href="{{ url_for('home.home') }}">Accueil</a>
            <a href="{{ url_for('sivm.sivm') }}">SIVM</a>
            <a href="{{ url_for('aci.aci') }}">ACI</a>
            <a href="{{ url_for('partner.partner') }}">Partenaires</a>
            <a href="{{ url_for('blog.blog') }}">Actualité</a>
            <a href="{{ url_for('contact.contact') }}">Contact</a>           
        </nav>


        <nav>  
            
            <div class="header-login">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
            </div>

            <div class="header-login">
                {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    <a href="{{ url_for('admin.admin_dashboard') }}">Panel Admin</a>
                {% endif %}
            </div>

            <div class="header-login">
                {% if current_user.is_authenticated or current_user.role == 'admin' %}
                    <a href="{{ url_for('user.profile') }}">Profile</a>
                {% endif %}
            </div>

        </nav>


       
    </div>
</header>

   