


{% extends "partials/base.html" %}

{% block title %}SIVM blog{% endblock %}

{% block content %}



<section class="description">
    <div class="container">

        <div class="flex-center text-center">
            <h1>NOTRE ADMINISTRATION</h1>
        </div>

        <p>           
	        Le Président tient informé tout au long de son mandat les communes adhérentes par une lettre info au-delà des conseils syndicaux pendant lesquelles sont prises les décisions par délibération.
            
            Il peut aussi prendre des arrêtés dans le cadre de ses compétences.
            
            Le prochain Conseil syndical se tiendra à la salle de réunion du SIVM du Fenouillèdes le :
        </p>

    </div>


    <!-- fecha para reuniones -->
            <div class="card cards-container-blog card-dateconseil">
                <span class="date-conseil">
                    {% if setting.next_meeting_date %}
                        {{ setting.next_meeting_date.strftime('%d/%m/%Y') }}
                    {% else %}
                        Date à définir
                    {% endif %}
                </span>
            </div>

</section>



<section class="cards-section">
    <div class="container">

        <div class="flex-center">
            <h2>INFO:</h2>
        </div>

        <div class="cards-container">

            <div class="container">
                <div class="card">
                    <h3>Lettres</h3>
                    {% for doc in lettres %}
                        <a href="{{ url_for('static', filename='uploads/documents/' + doc.file) }}">
                            {{ doc.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>


            <div class="container">
                <div class="card">
                    <h3>Deliberations</h3>
                    {% for doc in deliberations %}
                    <a href="{{ url_for('static', filename='uploads/documents/' + doc.file) }}">
                        {{ doc.title }}
                    </a>
                    {% endfor %}
                </div>
            </div>


            <div class="container">
                <div class="card">
                    <h3>Arretes</h3>
                    {% for doc in arretes %}
                    <a href="{{ url_for('static', filename='uploads/documents/' + doc.file) }}">
                        {{ doc.title }}
                    </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>



<section class="actualite">
    <div class="container flex-column">

        <h2>Actualité</h2>

        <div class="cards-container-blog">

            {% for post in posts %}
            <div class="card">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content[:150] }}...</p>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>

{% endblock %}
