


{% extends "partials/base.html" %}

{% block content %}

<section class="blog-post text-center">
    <div class="container flex-column">

        <h1>{{ post.title }}</h1>

        {% if post.image %}
        <img 
            src="{{ url_for('static', filename='uploads/blog/' ~ post.image) }}"
            class="post-image">
        {% endif %}

        <p class="post-date">
            {{ post.created_at.strftime('%d/%m/%Y') }}
        </p>

        <p class="post-content">
            {{ post.content | safe }}
        </p>

    </div>
</section>

{% endblock %}